.App{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.blogCard{
  margin: 16px;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
  width: 300px;
}